//	=============================================================================
//	Global Config
//	=============================================================================


// Font Stacks

$font-family--body		  : 'museo-slab', arial, sans-serif;
$font-family--headline		: 'museo-sans', arial, sans-serif;



// Font Weights

$font-weight--normal			: 300;
$font-weight--bold			  : 700;



// Typography

$base__font-size      : 16px;
$base__line-height    : 1.65;



// Base Colors

$cyan           : #00BCD4;

  // Dark to light //

$white          : #fff;
$grey-1         : #EAEAE8;  // hr
$grey-2         : #E0E0E0;  // icons
$grey-3         : #797979;  // primary text grey
$grey-4         : #3A4546;  // headlines, icons, intro, darkest color






