//	=============================================================================
//	Button Module Styles
//	=============================================================================

.where-next {
	background: $grey-4;
	padding: 5rem 0;
}

.button {
	padding: 1rem 4rem;
	border-radius: 2rem;
	border: 2px solid $cyan;
	text-decoration: none;
	font-family: $font-family--headline;
	text-transform: uppercase;
	&:hover {
		background: $cyan;
		color: white;
	}
}