//	=============================================================================
//	Header Modules + vertical padding / spacing
//	=============================================================================

// vertical spacing for home page header background
.header {
	padding: 7rem 0 8rem;

	// to adjust top and bottom padding of main header area
	@include mq(medium) {
		padding: 10rem 0 12rem;
	}
	@include mq(large) {
		padding: 12rem 0 14.5rem;
	}
}


// vertical spacing for project header background
.header--project {
  padding: 5rem 0 4.5rem;
  @include mq(medium) {
    padding: 7rem 0 6.5rem;
  }
}

.header--slideIn {
  opacity: 0;
  -webkit-animation: slideIn-quick .5s .3s forwards; /* Safari 4+ */
  -moz-animation:    slideIn-quick .5s .3s forwards; /* Fx 5+ */
  -o-animation:      slideIn-quick .5s .3s forwards; /* Opera 12+ */
  animation:         slideIn-quick .5s .3s forwards; /* IE 10+, Fx 29+ */
}




// background image for large hearder
.header-image {
	opacity: 0;
	background: $cyan;
	background: url('img/blue-background-1x.jpg') no-repeat $cyan;
	background-size: cover;

	// to switch background images 2x
	@media screen and (min-width: 700px) {
		background: url('../img/blue-background.jpg') repeat-y;
		background-size: cover;
	}
}

// background for background color during page load..
.header-color {
	background: $cyan;
}




///// Keyframes for SlideIn Animation ///////

@-webkit-keyframes slideIn {
  0%   { opacity: 0;
  		 transform: translateY(-70px); }
  50% { opacity: .6;
    	 transform: translateY(1px); }
  80% { opacity: .8;
    	 transform: translateY(-1px); }
  100% { opacity: 1;
    	 transform: translateY(0%); }
}

@keyframes slideIn {
	0%   { opacity: 0;
  		 transform: translateY(-70px); }
  50% { opacity: .6;
    	 transform: translateY(1px); }
  80% { opacity: .8;
    	 transform: translateY(-1px); }
  100% { opacity: 1;
    	 transform: translateY(0%); }
}

@-moz-keyframes slideIn {
	0%   { opacity: 0;
  		 transform: translateY(-70px); }
  50% { opacity: .6;
    	 transform: translateY(1px); }
  80% { opacity: .8;
    	 transform: translateY(-1px); }
  100% { opacity: 1;
    	 transform: translateY(0%); }
}

@-o-keyframes slideIn {
	0%   { opacity: 0;
  		 transform: translateY(-70px); }
  50% { opacity: .6;
    	 transform: translateY(1px); }
  80% { opacity: .8;
    	 transform: translateY(-1px); }
  100% { opacity: 1;
    	 transform: translateY(0%); }
}


// Layered Slide In Animations for Home page

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

///// Quick Slide In : for project headers ////////

@-webkit-keyframes slideIn-quick {
  0%   { opacity: 0;
       transform: translateY(-30px); }
  50% { opacity: .6;
       transform: translateY(2px); }
  80% { opacity: .8;
       transform: translateY(-3px); }
  100% { opacity: 1;
       transform: translateY(0%); }
}

@keyframes slideIn-quick {
  0%   { opacity: 0;
       transform: translateY(-30px); }
  50% { opacity: .6;
       transform: translateY(2px); }
  80% { opacity: .8;
       transform: translateY(-3px); }
  100% { opacity: 1;
       transform: translateY(0%); }
}

@-moz-keyframes slideIn-quick {
  0%   { opacity: 0;
       transform: translateY(-30px); }
  50% { opacity: .6;
       transform: translateY(2px); }
  80% { opacity: .8;
       transform: translateY(-3px); }
  100% { opacity: 1;
       transform: translateY(0%); }
}

@-o-keyframes slideIn-quick {
  0%   { opacity: 0;
       transform: translateY(-30px); }
  50% { opacity: .6;
       transform: translateY(2px); }
  80% { opacity: .8;
       transform: translateY(-3px); }
  100% { opacity: 1;
       transform: translateY(0%); }
}






// Logo, Name, Title Area
.header__logo {
	margin-bottom: 3rem;
	opacity: 0;
	max-width: 130px;
}
.header--logo-1 {
	opacity: 0;
	-webkit-animation: slideIn .5s .3s forwards; /* Safari 4+ */
	-moz-animation:    slideIn .5s .3s forwards; /* Fx 5+ */
	-o-animation:      slideIn .5s .3s forwards; /* Opera 12+ */
	animation:         slideIn .5s .3s forwards; /* IE 10+, Fx 29+ */
}
.header--logo-2 {
	opacity: 0;
	-webkit-animation: slideIn .5s .6s forwards; /* Safari 4+ */
	-moz-animation:    slideIn .5s .6s forwards; /* Fx 5+ */
	-o-animation:      slideIn .5s .6s forwards; /* Opera 12+ */
	animation:         slideIn .5s .6s forwards; /* IE 10+, Fx 29+ */
	margin-top: 30px;
}
.header--logo-3 {
	opacity: 0;
	-webkit-animation: fadeIn .5s .9s forwards; /* Safari 4+ */
	-moz-animation:    fadeIn .5s .9s forwards; /* Fx 5+ */
	-o-animation:      fadeIn .5s .9s forwards; /* Opera 12+ */
	animation:         fadeIn .5s .9s forwards; /* IE 10+, Fx 29+ */
}
