//	=============================================================================
//	Introduction: page introductions, for both project and main pages
//	=============================================================================


.introduction {
	color: #fff;
	background: $grey-4;
	padding: 2.5rem 0;
}